name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.9'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r alert_gotify/tests/requirements.txt
    
    - name: Run tests with coverage
      run: |
        cd alert_gotify/tests
        pytest --cov=../package/bin/alert_gotify --cov-report=term --cov-report=xml
    
  build:
    runs-on: ubuntu-latest
    needs: test
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.9'
    
    - name: Install UCC
      run: pip install splunk-add-on-ucc-framework
    
    - name: Build add-on
      run: ucc-gen build --source alert_gotify/package --ta-version 2.0.0
    